<%= render "shared/header",obj: @room %>
<%= render"shared/error",obj: @room %>
  <div class= "page">
    <h1 class="top">ルーム登録画面</h1>

  <%= form_for(@room) do |f| %>
    <table>
      <tr>
        <th><%= f.label :room_name,"ルーム名" %></th>
        <td><%= f.text_field :room_name %></td>
      </tr>

      <tr>
        <th><%= f.label :room_introduction,"ルーム紹介" %></th>
        <td><%= f.text_area :room_introduction %></td>
      </tr>

      <tr>
        <th><%= f.label :price, "料金" %></th>
        <td><%= f.number_field  :price %></td>
      </tr>

      <tr>
      <th><%= f.label :adress,"住所" %></th>
      <td><%= f.text_area :adress %></td>
      </tr>

      <tr>
        <th><%= f.label :image, "ルーム画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>
    </table>

    <div>
      <ul>
        <li><%= f.submit"登録" %></li>
      </ul>
    </div>
  <% end %>
</div>
<%= render "shared/footer"%>